/* Global CSS variables */

:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

/* Typography */

h2,
h3,
hgroup> :last-child {
    font-weight: 200;
}

.h2-anchor {
    scroll-margin: 4.1em;
}

.soon-element {
    color: #00C1CA;
}

small {
    color: var(--muted-color);
}

/* Header */

.header-figure {
    text-align: center;
    font-size: 0.5rem;
}

.header-logo {
    width: 540px;
    height: auto;
    /* background-color: rgba(17, 25, 31, 0.8); */
    border-radius: 100%;
}

.header-icon {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.hero {
    background-color: #394046;
    background-image: url("../public/alex-brisbey-KGQhWwB0tDg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}


header {
    padding: var(--spacing-company) 0;
}

header hgroup> :last-child {

    color: var(--h3-color);
}

header hgroup {
    margin-bottom: var(--spacing-company);
}

nav {
    background-color: #141e26b6;
    position: fixed;

}

.nav-a {
    color: aliceblue;
    cursor: pointer;
}

summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--contrast-hover);
}

/* Main */

.main-container {
    text-align: justify;
    border: 1px solid #3D4951;
    border-radius: 10px;
}

figcaption {
    font-size: 0.7rem;
}

.main-img {
    border-radius: 90px 20px 90px 20px;
}

/* Aside nav */
aside img {
    margin-bottom: 0.25rem;

}

aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
}